{% extends "buildings/base.html" %}
{% load static %}

{% block content %}


    <img id=featured src="{% static 'img/slider_1.jpg' %}">
    <div id="slider-wraper">
        <div id="slider">
            <img class="thumbnail active" src="{% static 'img/slider_1.jpg' %}">
            <img class="thumbnail" src="{% static 'img/slider_2.jpg' %}">
            <img class="thumbnail" src="{% static 'img/slider_3.jpg' %}">
        </div>
    </div>

    <script type="text/javascript">
        let thumbnails = document.getElementsByClassName('thumbnail')
        let activeImages = document.getElementsByClassName('active')
        for (var i=0; i < thumbnails.length; i++){
            thumbnails[i].addEventListener('mouseover', function(){
                if (activeImages.length > 0){
                    activeImages[0].classList.remove('active')
                }
                this.classList.add('active')
                document.getElementById('featured').src = this.src
            })
        }

    </script>

{% endblock %}
